@import "tailwindcss";

@font-face {
  font-family: 'ABC Marist Variable';
  src: url('/fonts/ABC Marist Variable/ABCMaristVariable-Trial.woff2') format('woff2'),
       url('/fonts/ABC Marist Variable/ABCMaristVariable-Trial.woff') format('woff'),
       url('/fonts/ABC Marist Variable/ABCMaristVariable-Trial.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ABC Marist';
  src: url('/fonts/ABC Marist/ABCMarist-Regular-Trial.woff2') format('woff2'),
       url('/fonts/ABC Marist/ABCMarist-Regular-Trial.woff') format('woff'),
       url('/fonts/ABC Marist/ABCMarist-Regular-Trial.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ABC Marist';
  src: url('/fonts/ABC Marist/ABCMarist-Medium-Trial.woff2') format('woff2'),
       url('/fonts/ABC Marist/ABCMarist-Medium-Trial.woff') format('woff'),
       url('/fonts/ABC Marist/ABCMarist-Medium-Trial.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ABC Monument Grotesk';
  src: url('/fonts/ABC Monument-Grotesk/ABCMonumentGrotesk-Regular-Trial.woff2') format('woff2'),
       url('/fonts/ABC Monument-Grotesk/ABCMonumentGrotesk-Regular-Trial.woff') format('woff'),
       url('/fonts/ABC Monument-Grotesk/ABCMonumentGrotesk-Regular-Trial.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ABC Monument Grotesk';
  src: url('/fonts/ABC Monument-Grotesk/ABCMonumentGrotesk-Medium-Trial.woff2') format('woff2'),
       url('/fonts/ABC Monument-Grotesk/ABCMonumentGrotesk-Medium-Trial.woff') format('woff'),
       url('/fonts/ABC Monument-Grotesk/ABCMonumentGrotesk-Medium-Trial.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  background: #E8E7E5;
  color: #4E4E4E;
  font-family: 'ABC Marist Variable', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
